<% content_for :breadcrumb do %>
  <div class="col-12 no-padding">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <%= link_to root_path, target: "_top" do %>
            <span>Dashboard</span>
          <% end %>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          <%= link_to users_path, target: "_top" do %>
            <span>Users</span>
          <% end %>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          <span>User Details</span>
        </li>
      </ol>
    </nav>
  </div>
<% end %>

<div class="card card__custom mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <h4>User Details</h4>
      </div>

      <% if current_user.admin? %>
        <div class="col-6 text-right">
          <%= link_to edit_user_path(@user), class: 'btn btn-info', target: "_top" do %>
            <i class="fa fa-pencil"></i> Edit User
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card-body p-0">
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>First Name</th>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <th>Birthdate</th>
          <td><%= @user.birthdate %></td>
        </tr>
        <tr>
          <th>Roles</th>
          <td><%= @user.roles&.pluck(:name)&.join(', ') %></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
