<!DOCTYPE html>
<html>
  <head>
    <title>PerpustakaanGaluh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% content_for :alert do %>
      <%= render 'shared/flashes' %>
    <% end %>

    <% if current_user %>
      <%= render 'shared/navbar' %>

      <div class="container-fluid">
        <div class="row h-100">
          <%= render 'shared/sidebar' %>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-secondary">
            <div class="row header mt-5">
              <%= yield :breadcrumb %>
            </div>

            <%= yield :alert %>

            <%= yield %>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>

  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://use.fontawesome.com/74c965c3f8.js"></script>
</html>
